@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root {
    --primary-color: #FFB700;
    --secondary-color: #6D270E;
    --light-color: #ffe093;
    --dark-color: #3a1407;
    --text-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

h2 {   
    margin: 4vh 0;
    grid-column: 1/3; 
    text-align: center;
}

main {
    height: 100vh;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items:stretch;
    flex-wrap: wrap; */
    /* background-color: var(--light-color); */
}

.title {
    color: var(--secondary-color);
    text-align: center;
    padding-top: 10px;
}

.cookie {
    flex: 2;
    margin: auto;
    padding: 30px 10px;
    width: 70%;
    transition: all .5s; /* ease-in-out; */
}

.cookie:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.cookie:active {
    transform: scale(.9);
}

.tabs-wrapper {
    flex: 1;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    color: var(--light-color);
    overflow: hidden;
    padding: 0;
    margin: 0 5px;
    /* box-shadow: 2px 1px 20px var(--light-color); */
} 

ul {
    list-style: none;
}

.nav-tabs {
    display: flex;
    justify-content:stretch;
} 

.nav-tabs li {
    flex: 1;
    margin: 0;
}

.nav-tabs li.tab {
    background-color: var(--primary-color);
    color: var(--dark-color);
    padding: .5rem 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease 0s;
    font-weight: 500;
}

.nav-tabs .tab.is-active {
    background-color: var(--secondary-color);
    color: var(--light-color);
} 

.tab-panel {
    display: none;
}

.tab-panel.is-active {
    display: block;
}

.tab-panel ul {
    padding: 10px;
    columns: 3;
}

aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.5rem;
    padding: 2vw;
}

.army-box, .store-box {
    margin-bottom: 1vh;
    padding: 2vh;
    border-radius: 10px;
}

.army-box {
    border-style: solid;
}

.store-box {
    border-style: outset;
}

.store-box:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.store-box:active {
    border-style: inset;
}

.box-grandma {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.grandma-picture {
    display: block;
    width: 1em;
    margin-right: 20px;
}

.stats-army, .stats-store {
    font-size: 1.1rem;
}

i {
    margin-right: 20px;
}

.stats-army i, .stats-store i {
    margin-right: 0px;
}

.army-box div:first-child {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.store-box div:first-child {
    font-size: 1.5rem;
}