:root {
    --primary_color: #FFB700;
    --secondary_color: #6D270E;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

h2 {   
    margin: 4vh 0;
    grid-column: 1/3; 
    text-align: center;
}

main {
    width: 70vw;
}

aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--primary_color);
    color: var(--secondary_color);
    padding: 2vw;
}

.army-box, .store-box {
    margin-bottom: 1vh;
    padding: 2vh;
}

.box-grandma {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.grandma-picture {
    display: block;
    margin-right: 10px;
}

i {
    margin-right: 20px;
}

.stats i {
    margin-right: 0px;
}

.army-box div:first-child {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.store-box div:first-child {
    font-size: 1.5rem;
}